.clock {
    display: inline-block;
    width: 100%;
    margin-bottom: 45px;
    color: #ffffff;
}
    .clock .time {
        display: inline-block;
        width: 25%;
        float: left;
        margin-top: 15px;
        margin-bottom: 15px;
    }
        .clock .value {
            display: inline-block;
            width: 100%;
            font-size: 60px;
        }
        .clock .label {
            display: inline-block;
            width: 100%;
            font-size: 16px;
            text-transform: uppercase;
        }
@media (max-width: 700px) {
    .clock > .time {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 500px) {
    .clock > .time {
        padding-left: 20px;
        padding-right: 20px;