body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: inline-block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.hero-row {
    display: inline-block;
    width: 600px;
    margin-bottom: 60px;
    margin-left: calc((100% - 600px) / 2);
    text-align: center;
}
        .hero-row >.logo {
            height: 80px;
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
        .title {
            text-transform: uppercase;
            font-size: 60px;
            margin-bottom: 20px;
        }
        .sub-title {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 60px;
        }
        .hero-row > form {
            display: inline-block;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 20px;
        }
    .row {
        display: inline-block;
        width: 1000px;
        margin-left: calc((100% - 1000px) / 2);
        background-color: teal;
    }
        .left-column {
            width: 50%;
            float: left;
            background-color: teal;
        }
        .right-column {
            width: 40%;
            float: right;
            background-color: teal;
        }
            h2 {
                margin-bottom: 30px;
            }
            p {
                margin-bottom: 30px;
            }
        .socials {
            display: inline-block;
            width: 100%;
            float: left;
            border-bottom: 1px solid #ffffff;
        }
        .texts {
            display: inline-block;
            width: 600px;
            margin-left: calc((100% - 600px) / 2);   
            float: left;
            background-color: teal;
        }

.bg-blue {
    background-color: #03A9F4;
}
.hero-bg {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
@media (max-width: 1100px) {
    .row {
        width: 800px;
        margin-left: calc ((100% - 800px) / 2);
        background-color: green;
    }   
@media (max-width: 900px) {
    .row {
        width: 600px;
        margin-left: calc ((100% - 600px) / 2);
        background-color: green;
    }
    .left-column {
        width: 100%;
        background-color: teal;
        margin-bottom: 60px;
    }
    .right-column {
        width: 100%;
        background-color: hotpink;
        float: left;
}
@media (max-width: 700px) {
    .hero-row {
        width: 400px;
        margin-left: calc((100% - 400px) / 2);
    }
    .row {
        width: 400px;
        margin-left: calc((100% - 400px) / 2);
    }
    .footer-texts {
        width: 400px;
        margin-left: calc((100% - 400px) / 2);
    }
}
@media (max-width: 500px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }    
    .hero-row {
        width: 100%;
        margin-left: 0;
    } 
     .row {
        width: 100%;
        margin-left: 0;
        background-color: green;
    }
   .texts {
        width: 100%;
        margin-left: 0;
        background-color: teal;
}
